<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="../static/css/pages.css">
</head>
<body>
{% include 'index.html' %}
<h1>Редагувати замовлення</h1>
<form method="post">
    {% for product in products %}

        <div class="container">
            <label for="product_{{ product.product_id }}">{{ product.name }}</label>
            <p><strong>Опис:</strong> {{ product.description }}</p>
            <p><strong>Ціна:</strong> ${{ product.price }}</p>
            <p><strong>Кількість:</strong> {{ product.quantity }}</p>
            {% set quantity = products_to_order|selectattr('product_id', 'eq', product.product_id)|map(attribute='quantity')|default(0)|first %}
            {% if quantity %}
                <input type="number" id="product_{{ product.product_id }}" name="product_{{ product.product_id }}" min="0"
                       value="{{ quantity }}">
            {% else %}
                <input type="number" id="product_{{ product.product_id }}" name="product_{{ product.product_id }}" min="0"
                       value="0">
            {% endif %}
        </div>
    {% endfor %}
    <div class="container">
        <button type="submit" class="btn btn-primary">Зберегти зміни</button>
    </div>
</form>
</body>
</html>
