<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
        <h1>Пекарня</h1>
        <nav>
            <ul>
                {% if session.get('userid') %}
                    <li><a href="/products">Продукти</a></li>
                    <li><a href="/orders">Замовлення</a></li>
                    <li><a href="/order_reviews">Відгуки про замовлення</a></li>
                    <li><a href="/product_reviews">Відгуки продуктів</a></li>
                    <li><a href="/logout">Вийти</a></li>
                {% else %}
                    <li><a href="/register">Регістрація</a></li>
                    <li><a href="/login">Авторизація</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</body>
</html>