<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Reviews</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="../static/css/pages.css">
</head>
<body>
{% include 'index.html' %}
    <h1>Product Reviews</h1>
    <ul>
        {% for review in product_reviews %}
            <li>{{ review.review_text }}</li>
        {% endfor %}
    </ul>
</body>
</html>
